- name: Check ONEAPI v{{ NSP_ONEAPI_version }} Install
  ansible.builtin.stat:
    path: "{{ [NSP_install_root, NSP_ONEAPI_install_name, NSP_ONEAPI_version] | path_join }}"
  register: oneapi_status
  tags:
    - oneapi

- name: Launch ONEAPI v{{ NSP_ONEAPI_version }} Install
  ansible.builtin.include_tasks:
    file: install.yaml
  when: not oneapi_status.stat.exists
  tags:
    - oneapi

- name: Create ONEAPI Module Directory
  ansible.builtin.file:
    path: "{{ [NSP_module_root, NSP_ONEAPI_module_name] | path_join }}"
    state: directory
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_executable_permissions }}"
  when: NSP_ONEAPI_create_module
  tags:
    - oneapi

- name: Generate ONEAPI v{{ NSP_ONEAPI_version }} Module File
  ansible.builtin.template:
    src: module.lua.j2
    dest: "{{ [NSP_module_root, NSP_ONEAPI_module_name, '{}.lua'.format(NSP_ONEAPI_version)] | path_join }}"
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_file_permissions }}"
  when: NSP_ONEAPI_create_module
  tags:
    - oneapi
