- name: Configure Spack Versions
  ansible.builtin.include_tasks:
    file: spack.yaml
  loop: "{{ NSP_SPACK_versions | dict2items }}"
  loop_control:
    label: "{{ _SPACK_version.key }}"
    loop_var: _SPACK_version
  tags:
    - spack

- name: Deploy Spack Extensions
  ansible.builtin.copy:
    src: "{{ [playbook_dir, 'spack/extensions'] | path_join }}/"
    dest: "{{ [NSP_SPACK_config_directory, 'extensions'] | path_join }}/"
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_file_permissions }}"
    directory_mode: "{{ NSP_executable_permissions }}"
  when: "[playbook_dir, 'spack/extensions'] | path_join is directory"
  tags:
    - spack

- name: Configure Spack Environments
  ansible.builtin.include_tasks:
    file: environment.yaml
  loop: "{{ NSP_SPACK_environments | dict2items }}"
  loop_control:
    label: "{{ _SPACK_environment.key }}"
    loop_var: _SPACK_environment
  tags:
    - spack

- name: Create Spacktivate Script
  ansible.builtin.template:
    src: spacktivate.sh.j2
    dest: "{{ [NSP_SPACK_config_directory, 'spacktivate'] | path_join }}"
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_executable_permissions }}"
  tags:
    - spack
