- name: Check for AOCC v{{ NSP_AOCC_version }} Install
  ansible.builtin.stat:
    path: "{{ [NSP_install_root, 'aocc', NSP_AOCC_version, 'bin'] | path_join }}"
  register: aocc_status
  tags:
    - aocc

- name: Launch AOCC v{{ NSP_AOCC_version }} Install
  ansible.builtin.include_tasks:
    file: install.yaml
  when: not aocc_status.stat.exists
  tags:
    - aocc

- name: Create AOCC Module Directory
  ansible.builtin.file:
    path: "{{ [NSP_module_root, 'aocc'] | path_join }}"
    state: directory
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_executable_permissions }}"
  when: NSP_AOCC_create_module
  tags:
    - aocc

- name: Generate AOCC v{{ NSP_AOCC_version }} Module File
  ansible.builtin.template:
    src: module.lua.j2
    dest: "{{ [NSP_module_root, 'aocc', '{}.lua'.format(NSP_AOCC_version)] | path_join }}"
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_file_permissions }}"
  when: NSP_AOCC_create_module
  tags:
    - aocc
