- name: Clear Previous OpenMPI v{{ NSP_OMPI_version }} Build Files
  ansible.builtin.file:
    path: "{{ [NSP_scratch_directory, 'openmpi-{}'.format(NSP_OMPI_version)] | path_join }}"
    state: absent
  when: NSP_OMPI_clean_build
  tags:
    - ompi

- name: Check for OpenMPI v{{ NSP_OMPI_version }} Source Files
  ansible.builtin.stat:
    path: "{{ [NSP_scratch_directory, 'openmpi-{}'.format(NSP_OMPI_version)] | path_join }}"
  register: ompi_source_status
  tags:
    - ompi

- name: Download and Unpack OpenMPI v{{ NSP_OMPI_version }} Tarball
  ansible.builtin.unarchive:
    remote_src: true
    src: "https://download.open-mpi.org/release/open-mpi/v5.0/openmpi-{{ NSP_OMPI_version }}.tar.gz"
    dest: "{{ NSP_scratch_directory }}"
    group: "{{ NSP_group }}"
    owner: "{{ NSP_user }}"
    mode:  "{{ NSP_executable_permissions }}"
  when: not ompi_source_status.stat.exists
  tags:
    - ompi

- name: Build and Install OpenMPI v{{ NSP_OMPI_version }}
  ansible.builtin.shell:
    cmd: |
      rm -rf build && mkdir build && cd build
      ../configure --without-gpfs --enable-debug --with-slurm --enable-mpi-fortran \
        --enable-mpirun-prefix-by-default --disable-vt --enable-mpi1-compatibility \
        --with-xpmem={{ NSP_OMPI_XPMEM_PATH }} --with-rocm={{ ['/opt/rocm-', NSP_OMPI_ROCM_version] | join }} \
        --with-memory-manager=none \
        --with-ofi={{ [NSP_install_root, 'openmpi', 'libfabric', NSP_OMPI_OFI_version] | path_join }} \
        --prefix={{ [NSP_install_root, 'openmpi', NSP_OMPI_version] | path_join }}
      make -j{{ NSP_max_threads }}
      make -j{{ NSP_max_threads }} all
      make install
    chdir: "{{ [NSP_scratch_directory, 'openmpi-{}'.format(NSP_OMPI_version)] | path_join }}"
  changed_when: true
  tags:
    - ompi

- name: Clean Up Scratch After OpenMPI v{{ NSP_OMPI_version }} Build
  ansible.builtin.include_role:
    name: nsp
    tasks_from: clear_scratch
  when: NSP_keep_scratch_clear
  tags:
    - ompi
