- name: Check for Libfabric v{{ NSP_OMPI_OFI_version }} Install
  ansible.builtin.stat:
    path: "{{ [NSP_install_root, 'libfabric-ompi', NSP_OMPI_version, 'bin/fi_info'] | path_join }}"
  register: libfabric_ompi_status
  tags:
    - ompi-ofi

- name: Launch Libfabric v{{ NSP_OMPI_OFI_version }} Install
  ansible.builtin.include_tasks:
    file: libfabric.yaml
  when: not libfabric_ompi_status.stat.exists
  tags:
    - ompi-ofi

- name: Check for OpenMPI v{{ NSP_OMPI_version }} Install
  ansible.builtin.stat:
    path: "{{ [NSP_install_root, 'openmpi', NSP_OMPI_version, 'bin/ompi_info'] | path_join }}"
  register: openmpi_status
  tags:
    - ompi

- name: Launch OpenMPI v{{ NSP_OMPI_version }} Install
  ansible.builtin.include_tasks:
    file: install.yaml
  when: not openmpi_status.stat.exists
  tags:
    - ompi

- name: Create OpenMPI Module Directory
  ansible.builtin.file:
    path: "{{ [NSP_module_root, 'openmpi'] | path_join }}"
    state: directory
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_executable_permissions }}"
  when: NSP_OMPI_create_module
  tags:
    - ompi

- name: Generate OpenMPI v{{ NSP_OMPI_version }} Module File
  ansible.builtin.template:
    src: module.lua.j2
    dest: "{{ [NSP_module_root, 'openmpi/{}.lua'.format(NSP_OMPI_version)] | path_join }}"
    owner: "{{ NSP_user }}"
    group: "{{ NSP_group }}"
    mode: "{{ NSP_file_permissions }}"
  when: NSP_OMPI_create_module
  tags:
    - ompi
