{{ ansible_managed | comment(beginning="##", end="##", decoration="#", prefix_count=0, postfix_count=0) }}

concretizer:
  reuse: false
  targets:
    granularity: microarchitectures
    host_compatible: true
  unify: false
  duplicates:
    strategy: none
