{{ ansible_managed | comment(beginning="##", end="##", decoration="#", prefix_count=0, postfix_count=0) }}

config:
  install_tree:
    root: {{ [NSP_SPACK_root, "envs", _SPACK_environment_name, "opt"] | path_join }}
    projections:
      all: "{compiler.name}-{compiler.version}/{name}-{version}-{hash}"

  template_dirs:
    - $spack/share/spack/templates

  license_dir: $spack/etc/spack/licenses

  build_stage:
    - {{ [NSP_scratch_directory, "spack/stage", _SPACK_environment_name] | path_join }}

  test_stage: {{ [NSP_scratch_directory, "spack/test", _SPACK_environment_name] | path_join }}
  source_cache: {{ [NSP_SPACK_root, "envs/scache"] | path_join }}
  misc_cache: {{ [NSP_SPACK_root, "envs", _SPACK_environment_name, "mcache"] | path_join }}
{% if _SPACK_environment_configuration.extensions | length > 0 %}

  extensions:
{% endif %}
{% for extension in _SPACK_environment_configuration.extensions %}
    - {{ [NSP_SPACK_root, "configs/extensions", extension] | path_join }}
{% endfor %}

  connect_timeout: 10
  verify_ssl: true
  ssl_certs: $SSL_CERT_FILE
  suppress_gpg_warnings: false
  checksum: true
  deprecated: false
  dirty: false
  build_language: C
  locks: true
  url_fetch_method: urllib
  build_jobs: {{ NSP_max_threads }}
  ccache: false
  db_lock_timeout: 60
  package_lock_timeout: null

  shared_linking:
    type: rpath
    bind: false
    missing_library_policy: ignore

  allow_sgid: true
  install_status: true
  binary_index_ttl: 600

  flags:
    keep_werror: "none"

  aliases:
    concretise: concretize
    containerise: containerize
    rm: remove
    search: list
