#!/bin/bash
{{ ansible_managed | comment(beginning="##", end="##", decoration="#", prefix_count=0, postfix_count=0) }}

# Only run if the script is being sourced
if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
  echo "ERROR: This script must be sourced!"
  echo "usage: '. ./spacktivate'"
  exit 1
fi

declare -A data=(
{% for env in NSP_SPACK_environments %}
    ["{{ env }}"]="{{ NSP_SPACK_environments[env].spack_version }}"
{% endfor %}
)

# Select environment and activate
select TARGET_ENV in "${!data[@]}" ; do
    TARGET_VERSION="${data[$TARGET_ENV]}"
    # Initialize Spack
    source {{ NSP_SPACK_config_directory }}/spack-${TARGET_VERSION}/share/spack/setup-env.sh
    exit_code=$?
    if [ $exit_code -ne 0 ]; then
        echo "ERROR: Spack initialization failed with exit code $exit_code"
    else
        echo "Spack initialized"
    fi

    # Activate environment
    spack env activate -d {{ NSP_SPACK_config_directory }}/$TARGET_ENV
    exit_code=$?
    if [ $exit_code -ne 0 ]; then
        echo "ERROR: Environment activation failed with exit code $exit_code"
    else
        echo "$TARGET_ENV activated"
    fi
    break
done
