{{ ansible_managed | comment(beginning="##", end="##", decoration="#", prefix_count=0, postfix_count=0) }}

{% for path in NSP_LMOD_default_module_paths %}
{{ path }}
{% endfor %}
{{ NSP_module_root }}
