#!/usr/bin/env bash
{{ NSP_template_header | comment(beginning='##', end='##', decoration='#', prefix_count=0, postfix_count=0) }}

# common variables
export LMOD_SYSTEM_NAME={{ NSP_system_name }}
export LMOD_PACKAGE_PATH={{ [NSP_LMOD_install_root, 'hooks'] | path_join }}
export LMOD_AVAIL_STYLE=nsp-pretty:system
export LMOD_MODULERCFILE={{ [NSP_LMOD_install_root, 'etc/rc.lua'] | path_join }}
export LMOD_ADMIN_FILE={{ [NSP_LMOD_install_root, 'etc/admin.list'] | path_join }}
export LMOD_RC={{ [NSP_LMOD_install_root, 'etc/lmodrc.lua'] | path_join }}


{% if NSP_LMOD_install_type == "internal" %}
# LMOD configuration for internal install
export LMOD_SYSTEM_DEFAULT_MODULES=DefApps

type module > /dev/null 2>&1
if [ "$?" -eq 0 ]; then
    clearLmod -q > /dev/null 2>&1
    unset LMOD_MODULEPATH_INIT
fi

source {{ [NSP_LMOD_install_root, 'lmod/init/profile'] | path_join }}
module --initial_load --no_redirect restore
{% elif NSP_LMOD_install_type == "external" %}
# LMOD configuration for external install
type module > /dev/null 2>&1
if [ "$?" -eq 0 ]; then
    module --initial_load --no_redirect restore
fi
{% endif %}
