{{ ansible_managed | comment(beginning='--[[', end=']]--', decoration='', prefix_count=0, postfix_count=0) }}

--------------------------------------------------------------------------
-- @module SitePackage

require("strict")
NSP_Hook = require("Hook")

-- add active hooks
{% for hook in _LMOD_active_hooks %}
require("{{ hook }}")
{% endfor %}
