{{ ansible_managed | comment(beginning="--[[", end="]]--", decoration="", prefix_count=0, postfix_count=0) }}

local base = "{{ [NSP_install_root, 'xalt', NSP_XALT_git_reference] | path_join }}"
local bin = pathJoin(base, "bin")

-- prepend_path{"PATH", bin, priority="100"}
prepend_path("LD_PRELOAD", pathJoin(base, "lib64/libxalt_init.so"))

setenv("XALT_DIR", base)
setenv("XALT_EXECUTABLE_TRACKING", "yes")
setenv("XALT_KAFKA_EXE", pathJoin(base, "libexec/xalt_kafka_transmit"))
