{{ ansible_managed | comment(beginning="--[[", end="]]--", decoration="", prefix_count=0, postfix_count=0) }}

family("gpu")

whatis("Description: NVHPC v{{ NSP_nvhpc_version }} Toolkit")

help("NVIDIA HPC Toolkit")

local base = "{{ NSP_install_root }}"
local package = "nvhpc"
local version = "{{ NSP_nvhpc_version }}"
local prefix = pathJoin(base, package, version, 'compilers')

setenv("CUDA_PATH", prefix)
setenv("CUDAPATH", prefix)
setenv("CUDA_HOME", prefix)
setenv("CUDA_VERSION", version)
prepend_path("PATH", pathJoin(prefix, "bin"))
prepend_path("CPATH", pathJoin(prefix, "include"))
prepend_path("LD_LIBRARY_PATH", pathJoin(prefix, "lib64"))
prepend_path("LIBRARY_PATH", pathJoin(prefix, "lib64"))
prepend_path("CMAKE_PREFIX_PATH", prefix)
prepend_path("PKG_CONFIG_PATH", pathJoin(prefix, "pkgconfig"))

setenv(string.upper("{{ NSP_site_name }}_") .. package:upper() .. "_ROOT",  prefix)
